.dash-container{
  margin-top: 7.4%;
  margin-left: 24%;
  width: 76%;
  height: 100%;
}
.dash-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dash-section{
  width: 93%;
  margin: 0 0 27px 3.4%;
}
.petite-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 49%
}
.info-right{
  margin: 0
}
.met-nav-container{
  background-color: #fff;
  width: 65%;
  height: 350px;
  border: 1px solid #EEF8FD;
  border-radius: 2px;
}
.metrics-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 30px 30px 30px;
}
.metrics-navigation #date {
  color: #4F4F4F;
  font-size: 12px;
  line-height: 21px;
  font-weight: 600;
  flex-grow: 1;
}
.month-metrics-display {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
#select-container{
  height: 35px;
  width: 140px;
  outline: none;
  margin-right: 28px;
}
#navigate input{
  height: 25px;
  font-size: 12px;
  border: .5px solid rgb(150, 147, 147);
  outline: none;
  border-radius: 5px;
  width: 26px;
  background-color: rgba(104, 103, 103, 0.1);
  cursor: pointer;
  margin-right: 10px;
}
.order-place{
  width: 33.5%;
  height: 355px;
  margin-right: 9px;
  margin-top: 3px;
}
.pay-header{
  color:  #262626;
  font-size: 36px;
  line-height: 48px;
}
.showing {
  width: 25%;
}
.showing #caret{
  margin-left: 4px;
}
.showing span,
.show-select span{
  font-size: 80%;
}
.payment-search{
  border-bottom: 0.5px solid #787878;
  display: flex;
  align-items: center;
  width: 35%;
}
.payment-search input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}
.show-select span{
  margin-right: 10px;
}
.show-select select{
  margin-right: 9px;
  border-radius: 0;
  height: 25px;
  outline: none;
}
